
/* Confirmation modal */

.Modal.ConfirmationModal {
  top: 50%;
  bottom: auto;
  transform: translateY(-50%);
  padding: 0;
  overflow: initial;
}

.ConfirmationModal__title {
  display: block;
  padding: 3.5rem 1rem;
  font-size: 1.25rem;
  font-weight: light;
  text-align: center;
}

.ConfirmationModalFooter {
  display: block;
  border-radius: 0 0 6px 6px;
  overflow: hidden;
}

.ConfirmationModalFooter__button {
  position: relative;
  display: inline-block;
  vertical-align: bottom;
  width: 50%;
  border-radius: 0;
  margin: 0;
  padding: 1.5rem 0;
  font-size: 1rem;
  cursor: pointer;
  border: 0;
  background: #eee;
  text-transform: uppercase;
  font-weight: bold;
}

.ConfirmationModalFooter__button:focus {
  z-index: 1;
}

.ConfirmationModalFooter__button:hover {
  background: rgb(219, 219, 219);
}

.ConfirmationModalFooter__button--primary {
  background: #e74c3c;
  color: white;
}

.ConfirmationModalFooter__button--primary:hover {
  background: #c0392b;
}

.ConfirmationModalClose {
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: .75rem;
  height: .75rem;
  padding: .5rem;
  border: none;
  background: none;
  cursor: pointer;
  white-space: nowrap;
}

.ConfirmationModalClose__icon {
  position: absolute;
  left: .125rem;
  top: .125rem;
  opacity: .5;
  transition: opacity .2s ease;
}

.ConfirmationModalClose__icon:hover {
  opacity: 1;
}