.Modal {
  &--form {
    position: fixed;
    top: 50%;
    bottom: auto;
    margin: 0 auto;
    min-width: 20em;
    font-size: 1rem;
    transform: translateY(-50%);
    line-height: 1.5;
    border: none;
    border-radius: 6px;
    box-shadow:
      0px 11px 15px -7px rgba(0,0,0,0.2),
      0px 24px 38px 3px rgba(0,0,0,0.14),
      0px 9px 46px 8px rgba(0,0,0,0.12);
  }

  &--form &Header {
    padding: .5rem 1rem 0;
    border: 0;
    color: #9b59b6;
  }

  &--form &Footer {
    box-shadow: none;
  }

}

.Form {
  &__row {
    display: block;
    margin-top: 1rem;

    &:first-child {
      margin-top: 0;
    }
  }

  &__label {
    font-weight: bold;
    color: grey;
  }


  &__input {
    padding: .6125rem .5rem;
    font-size: 1rem;
    display: block;
    width: 100%;
    border: 2px inset grey;
    border-radius: 4px;

    &:focus {
      border: 2px solid #9b59b6;
      color: #9b59b6;
      font-weight: bold;
    }
  }

  &__button {
    display: block;
    width: 100%;
    color:white;
    border: 2px solid #9b59b6;
    background: #9b59b6;
    font-size: 1rem;
    border-radius: 3px;
    padding: .75rem 1rem;
    cursor: pointer;

    &:hover,
    &:active {
      background: #9b59b6;
      color: white;
    }

    &--disabled {
      pointer-events: none;
      opacity: .4;
    }
  }
}